@import "./Variables.scss";
* {
    margin: 0;
}


.latesttrend__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    height: 20px;
    color: white;

    

}
.album__title {
    text-transform: capitalize;

}