@import "./Variables.scss";



.brand__heading {
    background-color: $BrandColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.brand__name {
    color: #ffffff;




}





